@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
body{
    margin: 0;
}
/*------------------------------------section1----------------------------------  */
section:nth-child(1){
    background: url(../img/design-interior-1.jpg) right/contain no-repeat;
    height: 100vh;
    margin: 0;
    position:relative;
}
section:nth-child(1) h1{
    margin: 0;
    position: absolute;
    top:55%;
    left:15%;
    font-family: 'Lora', serif;
}
section:nth-child(1) p{
    margin: 0;
    position: absolute;
    top:65%;
    left:10%;
    font-family: 'Work Sans', sans-serif;
}
/*------------------------------------section2----------------------------------  */
section:nth-child(2){
    background-color: #2e2e2e;
}
.nav{
    position:sticky;
    top:0;
    margin: 0;
    background-color: #2e2e2e;
}
.nav img{
    position:absolute;
    height: 50px;
    width:50px;
    left:3%;
    margin: 0;
    top:10px;
}
.nav ul{
    margin:0;
}
.nav ul li{
    list-style: none;
    color:#fff;
    display: inline;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.nav1{
    position:absolute;
    left:34%;
    font-size: 12px;
    top:35px;
}
.nav2{
    position:absolute;
    font-size: 12px;
    left:50%;
    top:35px;
}
.nav3{
    position:absolute;
    font-size: 12px;
    left:67%;
    top:35px;
}
.nav4{
    position:absolute;
    font-size: 12px;
    left:85%;
    top:0;
    top:35px;
}
.story{
    position:relative;
}
.imgStory{
    padding-top: 10%;
    margin: 0;
    width: 55vw;
}
.story h1{
    position:absolute;
    top:40%;
    font-size: 1.5em;
    left:70%;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Lora', serif;
}
.story p{
    position:absolute;
    top:50%;
    font-size: 0.8em;
    left:58%;
    color: #fff;
    letter-spacing: 3px;
    line-height: 20px;
    font-family: 'Work Sans', sans-serif;
}
/*------------------------------------section3----------------------------------  */
section:nth-child(3) h1{
    text-align: center;
    padding-top: 10%;
    font-size: 2em;
    letter-spacing: 3px;
    font-family: 'Lora', serif;
}
section:nth-child(3) p{
    font-size: 0.8em;
    padding-left: 33%;
    text-align: left;
    letter-spacing: 3px;
    line-height: 20px;
    font-family: 'Work Sans', sans-serif;
}
.featured{
   position:relative;
   height: 100vh;
}
.featured img{
    position:absolute;
    height: 300px;
    width: 400px;
}
.featured img:nth-child(1){
    position:absolute;
    left: 5%;
}
.featured img:nth-child(2){
    position:absolute;
    left:36%;
}
.featured img:nth-child(3){
    position:absolute;
    left:67%
}
.featured h1:nth-child(4){
    position:absolute;
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    left: 10%;
    top:20%;
}
.featured h1:nth-child(5){
    position:absolute;
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    left: 40%;
    top:20%;
}
.featured h1:nth-child(6){
    position:absolute;
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    left: 70%;
    top:20%;
}
.featured iframe{
    position:absolute;
    top:60%;
    left:30%;
}
/*------------------------------------section4----------------------------------  */
section:nth-child(4){
    background-color: #2e2e2e;
    height: 70vh;
}
section:nth-child(4) h1{
    padding-left: 5%;
    padding-top: 10%;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-family: 'Lora', serif;
}
section:nth-child(4) p{
    padding-left: 5%;
    color: #fff;
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 20px;
    font-family: 'Work Sans', sans-serif;
}
#form{
    position: relative;
}
#lable1{
    position:absolute;
    color: #fff;
    top:-180px;
    left:65%;
    font-family: 'Lora', serif;
}
#name{
    position:absolute;
    top:-160px;
    left:65%;
    width: 300px;
    color: gray;
    font-family: 'Work Sans', sans-serif;
}
#lable2{
    position:absolute;
    color: #fff;
    top:-120px;
    left:65%;
    font-family: 'Lora', serif;
}
#email{
    position:absolute;
    top:-100px;
    left:65%;
    width: 300px;
    color: gray;
    font-family: 'Work Sans', sans-serif;
}
#lable3{
    position:absolute;
    color: #fff;
    top:-60px;
    left:65%;
    font-family: 'Lora', serif;
}
#message{
    position:absolute;
    top:-40px;
    left:65%;
    width: 300px;
    color: gray;
    font-family: 'Work Sans', sans-serif;
}
#submit{
    position:absolute;
    padding: 5px 10px;
    left:65%;
    top:15px;
    font-family: 'Work Sans', sans-serif;
}
/* ---------------------------------------footer---------------------------------- */
footer{
    background-color: #1d2c2f;
    margin: 0;
    height: 10vh;
}
footer ul{
    margin: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
footer ul li{
    list-style: none;
    color: #fff;
    font-size: 0.8em;
    padding-top: 2.5%;
    font-family: 'Lora', serif;
}
footer ul li:nth-child(2){
    padding-left: 35%;
}
footer ul li:nth-child(3){
    padding-left: 13%;
}
footer ul li:nth-child(5){
    padding-right: 4%;
}
.hamMenu h1{
    display:none;
}
/* ---------------------------------Media-Quiries--------------------------------- */
@media (max-width:400px){
body{
    background-color: #2e2e2e;  
}
section:nth-child(1) {
    height:50vh;
    padding-top: 20%;
}   
section:nth-child(1) h1{
    top:1%;
    left:20%;
    color: #fff;
    font-size: 0.7;
}
section:nth-child(1) p{
    top:7%;
    left:12%;
    font-size: 0.5em;
    color: #fff;
}
/* --------------------------------------section2----------------------------------- */
.nav ul li{
    display:none;
}
.nav img{
    height: 30px;
    width:30px;
    left:3%;
    margin: 0;
    top:-470px;
}
section:nth-child(2){
    height:80vh;
}
.imgStory{
    padding-top: 100%;
    width: 100vw;
}
.story h1{
    top:5%;
    font-size: 1em;
    left:35%;
}
.story p{
    top:15%;
    font-size: 0.5em;
    left:8%;
    color: #fff;
}
/*------------------------------------section3----------------------------------  */
.feature{
    margin-top: 20%;
    color: #fff;
}
section:nth-child(3) p{
    font-size: 0.5em;
    color: #fff;
    padding-left: 7%;
    letter-spacing: 2.5px;
    padding-top: 5%;
}
.featured{
    position:relative;
}
.featured img{
    height: 300px;
    width: 100vw;
}
.featured img:nth-child(1){
   position:absolute;
   top:10%;
   left: 0;
}
.featured img:nth-child(2){
    position:absolute;
    top:65%;
    left: 0;
 }
 .featured img:nth-child(3){
    position:absolute;
    top:120%;
    left: 0;
 }
.featured h1:nth-child(4){
    position:absolute;
    left:70px;
    margin-top:53%;
    color: #fff;
}
.featured h1:nth-child(5){
    position:absolute;
    left:70px;
    margin-top:150%;
    color: #fff;
}
.featured h1:nth-child(6){
    left:70px;
    margin-top:248%;
    color: #fff;
    position:absolute;
}
.featured iframe{
    position:absolute;
    top:180%;
    left:0;
}
/*------------------------------------section4----------------------------------  */
section:nth-child(4){
   padding-top: 240%;;
}
section:nth-child(4) h1{
    padding-left: 28%;
    color: #fff;
    font-size: 1.1em;
}
section:nth-child(4) p{
    padding-left: 1%;
    color: #fff;
    text-align: center;
    letter-spacing: 2.5px;
    line-height: 20px;
    font-family: 'Work Sans', sans-serif;
}
#form{
    top:50%;
}
#lable1,#lable2,#lable3,#name,#email,#message,#submit{
    left:12%;
}
/* ------------------------------------footer------------------------------------- */
footer{
   margin-top:20%
}
footer ul{
    margin: 0;
    display: flex;
    padding-left: 0;
}
footer ul li{
    font-size: 0.5em;
    padding-left: 0;
}
footer ul li:nth-child(1){
    padding-left: 0;
}
footer ul li:nth-child(2){
    padding-left: 0;
}
footer ul li:nth-child(3){
    padding-left: 0;
}
footer ul li:nth-child(5){
    padding-right: 0;
}
/* --------------------------------Hamburger-Menu---------------------------------- */
#menu{
    position:relative;
}
#menu span:nth-child(1){
    position:absolute;
    background-color: #fff;
    border: #fff solid 1px;
    height: 2px;
    width:9%;
    left:85%;
    top:-65px;
}
#menu span:nth-child(2){
    position:absolute;
    background-color: #fff;
    border: #fff solid 1px;
    height: 2px;
    width:9%;
    left:85%;
    top:-55px;
}
#menu span:nth-child(3){
    position:absolute;
    background-color: #fff;
    border: #fff solid 1px;
    height: 2px;
    width:9%;
    left:85%;
    top:-45px;
}
#hamMenu{
    position:absolute;
    height: 70vh;
    width: 50vw;
    background-color: #1d2c2f;
    left: 50%;
    top:-90px;
    opacity:0;
}
#hamMenu h2{
    font-size: 15px;
    font-family: 'Lora', serif;
    color: #fff;
    text-align: center;
    padding-top: 90px;
}
}
#menu:hover + #hamMenu{
    opacity:1;
}
